<!-- Button to Open the Modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open modal
</button> -->

<!-- <div class="login-div">
  
  <button type="button" class="btn btn-primary login-btn" data-toggle="modal" data-target="#myModal">
    Login
  </button>
</div> -->

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">User Name:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div> 
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="editMode=!editMode">Login</button>
      </div>

    </div>
  </div>
</div>



<div style="margin-top:120px">
  <!-- <a class="btn btn-light btn-lg" *ngIf="!editMode" (click)="editMode=!editMode">UPDATE</a> -->
  <section id="showcase" style="padding:90px">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="showcase-left">
            <img src="assets/img1.png" />
          </div>

        </div>

        <div class="col-sm-2">


        </div>

        <div class="col-sm-5">
          <div class="showcase-right">
            <!-- <h1>Manage your family's data worry-free</h1>
            <p>If you're on a Share EverythingTM plan sign in to MyRogers to monitor data usage, set up fully customizable Real-Time*
              Alerts, top up or pause data for each member or device that's part of the plan.
            </p> -->
       
            <div *ngIf="!editMode">
              <h1>{{blog1?.title}}</h1>
              <p>{{blog1?.body}}</p>
              <a class="btn btn-light btn-lg">Read More</a>
            </div>

            <div class="form-group" *ngIf="editMode">
              <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog1.title" name='title'></textarea>
              <textarea class="form-control" rows="5" style="font-size:16px" [(ngModel)]="blog1.body" name='body'></textarea>
              <a class="btn btn-warning btn-lg" (click)="saveData(blog1.id)">Submit</a>
            </div>
          
            <!-- editMode=!editMode -->
          </div>
          <br>



        </div>
      </div>
    </div>

  </section>

  <section id="testimonial">
    <div class="container">
 
      <div *ngIf="!editMode">
        <p>{{blog2?.body}}
        </p>
        <p class="customer">- {{blog2?.title}}</p>
      </div>

      <div class="form-group" *ngIf="editMode">
        <textarea class="form-control" rows="3" style="font-size:16px" [(ngModel)]="blog2.body" name='title'></textarea>
        <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog2.title" name='body'></textarea>
        <a class="btn btn-warning btn-lg" (click)="saveData(blog2.id)">Submit</a>
      </div>
    </div>
    
  </section>

  <section id="info1" style="margin:80px 0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="info-left">
            <img class="img-responsive" src="assets/paybills.png">
          </div>

        </div>
        <div class="col-sm-6">
          <div class="info-right">
          
              <div *ngIf="!editMode">
                  <h2>{{blog3?.title}}</h2>
                  <p>{{blog3?.body}}</p>
      
                  <br>
                  <a class="btn btn-light btn-lg">Read More</a>
              </div>

              <div class="form-group" *ngIf="editMode">
                <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog3.title" name='title'></textarea>
                <textarea class="form-control" rows="4" style="font-size:16px" [(ngModel)]="blog3.body" name='body'></textarea>
                <a class="btn btn-warning btn-lg" (click)="saveData(blog3.id)">Submit</a>
              </div>
         
          </div>

        </div>
      </div>
    </div>
  </section>



  <section id="info11" style="margin:80px 0">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <div class="info-right" style="margin-top:160px">

              <div *ngIf="!editMode">
                  <h2>{{blog4?.title}}</h2>
                  <p>{{blog4?.body}}</p>
      
                  <br>
                  <a class="btn btn-light btn-lg">Read More</a>
              </div>

              <div class="form-group" *ngIf="editMode">
                <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog4.title" name='title'></textarea>
                <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog4.body" name='body'></textarea>
                <a class="btn btn-warning btn-lg" (click)="saveData(blog4.id)">Submit</a>
              </div>
            
          </div>

        </div>

        <div class="col-sm-6">
          <div class="info-left">
            <img class="img-responsive" src="assets/guywithtab.png">
          </div>

        </div>




      </div>
    </div>
  </section>

  <section id="info12" style="margin:80px 0">
    <div class="container">
      <div class="row">



        <div class="col-sm-6">
          <div class="info-left">
            <img class="img-responsive" src="assets/guyonphone.png">
          </div>

        </div>

        <div class="col-sm-6">
          <div class="info-right" style="margin-top:160px">
      
              <div *ngIf="!editMode">
                  <h2>{{blog5?.title}}</h2>
                  <p>{{blog5?.body}}</p>
      
                  <br>
                  <a class="btn btn-light btn-lg">Read More</a>
              </div>

              <div class="form-group" *ngIf="editMode">
                <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog5.title" name='title'></textarea>
                <textarea class="form-control" rows="2" style="font-size:16px" [(ngModel)]="blog5.body" name='body'></textarea>
                <a class="btn btn-warning btn-lg" (click)="saveData(blog5.id)">Submit</a>
              </div>
            
          </div>

        </div>


      </div>
    </div>
  </section>



  <section id="info2" style="margin:80px 0">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="info-left" style="text-align:right;padding:10px 20px;">
            <h2>Ready to get startded?</h2>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="info-right" style="text-align:left;">

            <a class="btn btn-danger btn-lg" style="color:white;padding:10px 20px;">Register Now</a>

          </div>
        </div>
      </div>
    </div>
  </section> 
</div>


