@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto Slab|Patua One|Poppins|Open Sans');

body{
    font-family: 'Roboto Slab';
    font-size: 16px;
    margin-top: 110px;
}


h1,h2,h3,h4,h5,h6{
    font-family:Poppins;
}

p{
    font-family: Roboto;
    font-size: 12px;
}

.navbar-default{
    background: #fff;
    /* border:0; */
    border-bottom:2px solid rebeccapurple; 
    padding: 10px;  
}

.navbar-brand{
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
    letter-spacing: 1px;
}

#showcase h1{
    font-size: 50px;
    margin-bottom: 20px; 
}

#showcase img{
    width: 90%;
    margin-left: 60px;
}



#testimonial{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#testimonial p{
    font-size: 20px;
    font-family: 'Open Sans';
    color: black;
}

#testimonial p.customer{
  font-size: 17px;
    color: #666;
}

#info1 .info-right{
    margin-top: 70px;
}

/* #info1 .info-right{
    background-color: red;
} */

#contact{
    background-color: rgb(250, 250, 250);
}

label{
    color:#5e5f60;
    letter-spacing: 1px;
    font-family: 'Open Sans';
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   font-family: 'Open Sans';
   font-size: 10px;
}
#info2{
    margin: 20px 0 60px 0;
}

#contact{
    /* background: url("../images/big.jpg"); */
    padding: 40px;
    color: #fff;
    margin: 50px 0;
    /* background-position: center;
    background-repeat: no-repeat; */
}

footer{
    padding: 30px;
}

footer .text-center{
    font-family: Lobster;
    letter-spacing: 1px;
}
