<section class="cd-hero">
		<ul class="cd-hero-slider autoplay">
			<li class="selected">
				<div class="cd-full-width">
					<h2 style="color:black">Angular Universal POC</h2>
					<p style="color:black">A simple, responsive POC with Angular Universal, Modernizer, Bootstrap &amp; jQuery.</p>
					<a href="#" class="cd-btn">DEMO</a>
					<!-- <a href="#" class="cd-btn"> <span *ngIf="change">DEMO</span> <span *ngIf="!change">TUTU</span></a> -->
				</div> <!-- .cd-full-width -->
			</li>

			<li>
				<div class="cd-half-width">
					<h2 style="color:black">Get the extraordinary iPhone 8 64GB for $0</h2>
					<p style="color:black">On select 2-year plans</p>
					<a href="#0" class="cd-btn">Start</a>
					<a href="#0" class="cd-btn secondary">Learn More</a>
					
				</div> <!-- .cd-half-width -->

				<div class="cd-half-width cd-img-container">
					<img src="assets/iphone8.png" alt="tech 1">
				</div> <!-- .cd-half-width.cd-img-container -->
			</li>

			<li>
				<div class="cd-half-width cd-img-container">
					<img src="assets/promo.png" alt="tech 2">
				</div> <!-- .cd-half-width.cd-img-container -->

				<div class="cd-half-width">
					<h2>Bundle unlimited Internet and TV</h2>
					<p>with HD PVR for $89.99/mo. Guaranteed savings for 24 mos. Subject to change.</p>
					<a href="#0" class="cd-btn secondary">Learn More</a>
				</div> <!-- .cd-half-width -->

			</li>

			

			<!-- <li>
				<div class="cd-full-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
					<a href="#0" class="cd-btn">Start</a>
					<a href="#0" class="cd-btn secondary">Learn More</a>
				</div> .cd-full-width 
			</li> -->

		</ul> <!-- .cd-hero-slider -->

		<div class="cd-slider-nav">
			<nav>
				<span class="cd-marker item-1"></span>

				<ul>
					<li class="selected"><a href="#0">Intro</a></li>
					<li><a href="#0">Slide 1</a></li>
					<li><a href="#0">Slide 2</a></li>
					<!-- <li><a href="#0">Image</a></li> -->
				</ul>
			</nav>
		</div> <!-- .cd-slider-nav -->
	</section> <!-- .cd-hero -->