<!--The content below is only a placeholder and can be replaced.-->




<header class="cd-header" style="margin-top:50px">
  <div id="cd-logo"><a href="#0"><img src="assets/brand.png" alt="Logo"></a></div>

  <nav class="cd-primary-nav">
    <ul>
      <li><a routerLink='/' style="color:black">HOME</a></li>
      <li><a routerLink='/about' style="color:black">MyROGERS</a></li>
      <!-- <li><a href="#0">PROMOTIONS</a></li> -->
    </ul>
  </nav> <!-- .cd-primary-nav -->
</header>



<router-outlet></router-outlet>


